<article class="ride">

  <header>
    <div class="location">
      <p>{% include icons/directions_car.svg %} {{ include.start }}</p>
      <p>{% include icons/sports_score.svg %} {{ include.end }}</p>
    </div>
    <time>{{ include.time }}</time>
  </header>

  <a class="driver">
    <span>{% include icons/account_circle.svg %} {{ include.driver }}</span>
    <span>{% include icons/grade.svg %} {{ include.grade }}</span>
  </a>

  <footer>
    <a href="carona.html">Ver carona →</a>
  </footer>

</article>

{% comment %}
vi: ft=liquid expandtab ts=2 sw=2
{% endcomment %}
