<article class="ride">

  <header class="row">
    <div>
      <h3>{% include icons/directions_car.svg %} {{ include.start }}</h3>
      <h3>{% include icons/sports_score.svg %} {{ include.end }}</h3>
    </div>
    <h2>{{ include.time }}</h2>
  </header>

  <a href="/profiles/{{ include.driver | slugify }}.html">
    <span>{% include icons/account_circle.svg %} {{ include.driver }}</span>
  </a>

  {% assign recommends = include.recommends | plus: 0 %}
  {% if recommends < 0 %}
    <span class="negative">{{ recommends }} {% include icons/thumb_down.svg %}</span>
  {% else %}
    <span class="positive">{{ recommends }} {% include icons/thumb_up.svg %}</span>
  {% endif %}

  <footer>
    <a href="/rides/{{ include.id }}.html">Ver carona →</a>
  </footer>

</article>

{% comment %}
vi: ft=liquid expandtab ts=2 sw=2
{% endcomment %}
