<article class="ride">
  <header>
    <span>
      <p>{% include icons/directions_car.svg class="highlighted" %} {{ include.start }}</p>
      <p>{% include icons/sports_score.svg class="highlighted" %} {{ include.end }}</p>
    </span>
    <span><strong>{{ include.time }}</strong></span>
  </header>
  <section>
    <span><a>{% include icons/account_circle.svg %} {{ include.driver }}</a></span>
    <span class="highlighted">{% include icons/grade.svg %} {{ include.grade }}</span>
  </section>
  <footer>
    <a href="carona.html">Ver carona →</a>
  </footer>
</article>

{% comment %}
vi: ft=liquid expandtab ts=2 sw=2
{% endcomment %}
