---
---
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Yrmos</title>
    <link rel="stylesheet" href="/assets/style.css"/>
    <link rel="canonical" href="https://yrmos.m7.rs"/>
  </head>
  <body>
    <nav class="container-fluid">
      <div class="logo">
        <a href="/">
          {% include logo.svg %}
          Yrmos
        </a>
      </div>
    </nav>

    <main class="container">
      {{ content }}
    </main>

    <footer class="container">
      <small>
        Desenvolvido para a disciplina de empreendedorismo no <a href="https://icmc.usp.br">ICMC-USP</a>
        (<a href="https://github.com/misterio77/yrmos">Código fonte</a>)
      </small>
    </footer>
  </body>
</html>

{% comment %}
vi: ft=liquid expandtab ts=2 sw=2
{% endcomment %}
