@import "pico/scss/pico.scss";

:root {
  --primary: #fb8c00 !important;
  --primary-hover: #fbc02d !important;
  --primary-focus: rgba(253, 216, 53, 0.125) !important;
  --primary-inverse: rgba(0, 0, 0, 0.75) !important;
  --block-spacing-vertical: calc(var(--spacing) * 1.8);
  min-width: 320px;
}

code {
  max-width: 100%;
}

section header h1 {
  text-align: center;
}

.positive {
  color: var(--ins-color);
}
.negative {
  color: var(--del-color);
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  article {
    flex: auto;
  }
}

.muted {
  color: var(--muted-color);
}

.row {
  display: flex;
  justify-content: space-between;
  :not(:last-child) {
    margin-right: 0.4rem;
  }
  h3 {
    --font-size: 1.2em;
  }
  h2 {
    --font-size: 1.4em;
  }
}

// Components

#navbar {
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-sectionning-background-color);
  nav {
    align-items: center;
    .logo {
      margin: 0.3em;
    }
    &.main {
      padding-left: 2em;
      padding-right: 2em;
      @media (min-width: 768px) {
        padding-left: 5em;
        padding-right: 5em;
      }
    }
    &.search form {
      flex: auto;
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      justify-content: center;
      margin-bottom: 0.5em;
      @media (min-width: 768px) {
        margin-bottom: 1.5em;
      }
      * {
        margin: 0 0.2em 0 0.2em
      }
      input {
        max-width: 30em;
      }
    }
  }
}

.fab {
  position: fixed;
  bottom: 2em;
  right: 2em;
  border-radius: 1em;
  span {
    text-align: center;
    vertical-align: center;
  }
}

#flash {
  text-align: center;
  padding-bottom: 3rem;
  sup {
    background-color: var(--primary);
    color: var(--contrast-inverse);
    font-weight: bold;
    border-radius: 0.2rem;
    margin: 0.2rem;
    padding: 0.4rem 0.5rem;
  }
  &.success sup {
    background-color: var(--ins-color);
  }
  &.error sup {
    background-color: var(--del-color);
  }
}
