@import "pico/scss/pico";

:root {
  --primary: #fdd835 !important;
  --primary-hover: #fbc02d !important;
  --primary-focus: rgba(253, 216, 53, 0.125) !important;
  --primary-inverse: rgba(0, 0, 0, 0.75) !important;
  min-width: 320px;
}

section header h1 {
  text-align: center;
}

// Nav bar
body > nav {
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-sectionning-background-color);
  .logo {
    display: flex;
    padding: 0.8em;
  }
}

.highlighted {
  color: var(--primary);
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

// Components

.ride {
  flex: auto;
  max-width: 32em;
  min-width: 20em;
  margin: 0.75em;
  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }
  footer {
    text-align: center;
    padding: 2em;
  }

  .location p {
    font-size: 1.2em;
  }
  time {
    font-weight: bold;
    font-size: 1.4em;
  }
  .driver {
    display: flex;
    justify-content: space-between;
  }
}
