@import "pico/scss/pico";

:root {
  --primary: #fdd835 !important;
  --primary-hover: #fbc02d !important;
  --primary-focus: rgba(253, 216, 53, 0.125) !important;
  --primary-inverse: rgba(0, 0, 0, 0.75) !important;
  min-width: 320px;
}

body > nav {
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-sectionning-background-color);
  .logo {
    display: flex;
    padding: 0.8em;
  }
}

.highlighted {
  color: var(--primary);
}

.ride {
  section {
    display: flex;
    justify-content: space-between;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    span {
      p {
        font-size: 1.2em;
      }
      strong {
        font-size: 1.4em;
      }
    }
  }
  footer {
    text-align: center;
  }
}
