---
---

<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/rides">Caronas</a></li>
    <li>bb7f8fd8</li>
  </ul>
</nav>

<article class="ride">
  <header>
    <h1>Carona: <code>bb7f8fd8</code></h1>
  </header>
  <section>
    <div class="row">
      <div>
        <h3>{% include icons/directions_car.svg %} Campus I</h3>
        <h3>{% include icons/sports_score.svg %} Campus II</h3>
      </div>
      <h2>09:00</h2>
    </div>
    <a href="/profiles/ellian-carlos.html"><span>{% include icons/account_circle.svg %}Ellian Carlos</span></a>
    <span class="positive">50 {% include icons/thumb_up.svg %}</span>
  </section>
  <section>
    <h2>Passageiros</h2>
    <ul>
      <li>
        <a href="/profiles/fulano.html"><span>{% include icons/account_circle.svg %}Fulano da Silva</span></a>
        <span class="positive">4 {% include icons/thumb_up.svg %}</span>
      </li>
      <li>
        <a href="/profiles/irineu.html"><span>{% include icons/account_circle.svg %}Irineu José</span></a>
        <span class="positive">2 {% include icons/thumb_up.svg %}</span>
      </li>
      <li>Espaço vago</li>
      <li>Espaço vago</li>
    </ul>
    <a role="button" href="javascript:void(0)">Reservar vaga</a>
  </section>
  <footer>
    <section>
      {% assign pix = "00020126330014BR.GOV.BCB.PIX0111123456789015204000053039865802BR5913Ellian Carlos6010Sao Carlos62070503***6304CBC3" %}
      <h2>Pagamento Pix</h2>
      <img width=256 height=256 src="https://qrcode.tec-it.com/API/QRCode?data={{ pix }}&color=222&backcolor=eee&quietzone=2" />
      <hr />
      <code>{{ pix }}</code>
    </section>
  </footer>
</article>

{% comment %}
vi: ft=liquid expandtab ts=2 sw=2
{% endcomment %}
