---
---

<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/rides">Caronas</a></li>
    <li>bb7f8fd8</li>
  </ul>
</nav>

<article class="ride">
  <header>
    <h1>Carona: <code>bb7f8fd8</code></h1>
  </header>
  <div class="info">
    <div class="location">
      <p>{% include icons/directions_car.svg %} Campus I</p>
      <p>{% include icons/sports_score.svg %} Campus II</p>
    </div>
    <time>09:00</time>
  </div>
  <div class="driver">
    <a href="/profiles/ellian-carlos.html">
      <span>{% include icons/account_circle.svg %}Ellian Carlos</span>
    </a>
    <span class="positive">50 {% include icons/thumb_up.svg %}</span>
  </div>
  <footer class="riders">
    <h2>Passageiros</h2>
    <ul>
      <li>
        <a href="/profiles/fulano.html">
          <span>{% include icons/account_circle.svg %}Fulano da Silva</span>
        </a>
        <span class="positive">4 {% include icons/thumb_up.svg %}</span>
      </li>
      <li>
        <a href="/profiles/irineu.html">
          <span>{% include icons/account_circle.svg %}Irineu José</span>
        </a>
        <span class="positive">2 {% include icons/thumb_up.svg %}</span>
      </li>
    </ul>
  </footer>
</article>

{% comment %}
vi: ft=liquid expandtab ts=2 sw=2
{% endcomment %}
