---
---

<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li>Caronas</li>
  </ul>
</nav>

<section>
  <header>
    <h1>Caronas</h1>
  </header>

  <div class="grid">
    {% include ride_listing.html
      start="Campus I"
      end="Campus II"
      time="09:00"
      driver="Ellian Carlos"
      recommends="+50"
      id="bb7f8fd8"
    %}
    {% include ride_listing.html
      start="Rodoviária"
      end="UFSCar"
      time="11:30"
      driver="Gabriel Fontes"
      recommends="-1"
      id="bb7f8fd8"
    %}
    {% include ride_listing.html
      start="Kartódromo"
      end="Arena TUSCA"
      time="20:00"
      driver="João Paulo Garcia"
      recommends="+15"
      id="bb7f8fd8"
    %}
  </div>
</section>

<a role="button" href="/rides/add.html" class="add-ride"><span>Oferecer carona</span></a>

{% comment %}
vi: ft=liquid expandtab ts=2 sw=2
{% endcomment %}
